<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kursovik</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <script src="https://use.fontawesome.com/7328c42f01.js"></script>
    <script th:src="@{Controllers/Help.js}"></script>
    <!--<script type="text/javascript" src="../static/dist/resources/app.js"></script>-->

    <link th:href="@{/main.css}" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body ng-app="Help" ng-controller="HelpController">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container mr-0">
            <a class="navbar-brand" href="#">
                <img src="Images/caduceus-2730780_1280.png" width="85" alt="">
                <br>Афродита
            </a>

            <div class="navbar" id="navbarResponsive">
                <ul class="navbar-nav mr-5">
                    <li class="nav-item">
                        <a class="nav-link" href="home">Главное меню</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="privateAccount">Личный кабинет</a>
                    </li>
                    <!--<li class="nav-item ng-hide" ng-show="ur == 'MANAGER'">
                        <a class="nav-link" href="orders">Заказы</a>
                    </li>-->
                    <li class="nav-item ng-hide" ng-show="ur == 'USER'">
                        <a class="nav-link" href="search">Поиск</a>
                    </li>
                    <li class="nav-item ng-hide" ng-show="ur == 'MANAGER'">
                        <a class="nav-link" href="search">Товары</a>
                    </li>
                    <li class="nav-item ng-hide" ng-show="ur == 'MANAGER'">
                        <a class="nav-link" href="medicine">Добавить позицию</a>
                    </li>
                    <li class="nav-item ng-hide" ng-show="ur == 'USER'" >
                        <a class="nav-link" href="basket">
                            Корзина
                            <span class="badge badge-light">{{medicines.length}}</span>
                        </a>
                    </li>
                    <li class="nav-item ng-hide" ng-show="ur == 'USER'">
                        <a class="nav-link" href="help">Справка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <i class="fa fa-sign-out"></i>
                            Выйти
                        </a>
                    </li>
                </ul>
                <!--<form class="form-inline mx-3">
                    <input class="form-control mr-sm-1" type="search" placeholder="введите название лекарства" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Найти</button>
                </form>-->
            </div>
        </div>
    </nav>

    <div>
        <div class="my-5 card bg-light col-md-5 mx-auto">
            <div class="font-weight-bold h4 text-center mt-3">
                Справка
            </div>
            <hr>

            <div class="">

                <div class="text-center">
                    Чтобы найти лекарство,<br>
                    перейдите в раздел
                    <a class="bold text-info" href="/search">
                        <strong>"Поиск"</strong>
                    </a>
                </div>
                <br>

                <div class="text-center">
                    Чтобы оформить заказ, перейдите в раздел
                    <a class="bold text-info" href="/basket">
                        <strong>"Корзина"</strong>
                    </a>
                </div>
                <br>

                <div class="text-center">
                    Чтобы изменить свои данные, перейдите в раздел
                    <a class="bold text-info" href="/privateAccount">
                        <strong>"Личный кабинет"</strong>
                    </a>
                </div>
                <br>

                <div class="text-center">
                    Чтобы зайти под другой своей учётной записью, нажмите на кнопку
                    <a class="bold text-info" href="/logout">
                        <strong>"Выйти"</strong>
                    </a>
                </div>
                <br>

                <div class="text-center">
                    Чтобы быстрее найти нужное лекарство, введите в поле рядом с меню название лекарства и нажмите на кнопку
                    <a class="bold text-info" href="/search">
                        <strong>"Найти"</strong>
                    </a>
                </div>
                <br>

                <hr>
                <div class="text-center">
                    Как нас найти? <br>
                    Наш офис находится по адресу: <br>
                    <strong>г. СПб, ул Лесовская, д.34, корпус 5, 2 парадная</strong>
                </div>
                <br>

                <div class="text-center">
                    Если возникли вопросы или пожелания, <br>
                    напишите нам на почту <br>
                    <strong>aptekaAfrodita@mail.ru</strong>
                </div>
                <br>

                <div class="text-center">
                    С нами также можно связаться по телефону: <br>
                    <strong>8-976-687-45-96</strong>
                    <br>
                    или <strong>8-976-489-55-58</strong>
                </div>
                <br>

                <div class="text-right py-3">
                    <a class="btn text-info" href="/home">
                        В главное меню
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="py-3 bg-dark">
        <div class="my-2 pt-3 text-white text-center text-small">
            <p class="mb-1">© ИТМО Назарова</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="home">Главное меню</a></li>
                <li class="list-inline-item"><a href="privateAccount">Личный кабинет</a></li>
                <!--<li class="list-inline-item ng-hide" ng-show="ur == 'MANAGER'"><a href="orders">Заказы</a></li>-->
                <li class="list-inline-item ng-hide" ng-show="ur == 'USER'"><a href="search">Поиск</a></li>
                <li class="list-inline-item ng-hide" ng-show="ur == 'MANAGER'"><a href="search">Товары</a></li>
                <li class="list-inline-item ng-hide" ng-show="ur == 'MANAGER'"><a href="medicine">Добавить позицию</a></li>
                <li class="list-inline-item ng-hide" ng-show="ur == 'USER'"><a href="basket">Корзина</a></li>
                <li class="list-inline-item ng-hide" ng-show="ur == 'USER'"><a href="help">Справка</a></li>
                <li class="list-inline-item"><a href="logout">Выйти</a></li>
            </ul>
        </div>
    </footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>